.main-area{
  margin: 80px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row; */
  height: 92vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  

}


.image-section-container{
  flex: 1;
  background-image: linear-gradient(to bottom right, #dedcd9, #e8e2d9);
  background-color: #e8e2d9;
  height: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: inherit; */
}

.food-thumbnail{
  height: 450px;
  border-radius: 400px;
}

#qr-code-area{
  position: absolute;
  top: 30px;
  left: 30px;
  box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.182);
  border-radius: 16px;
  background-color: rgb(246, 246, 246);
  height: 66px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white solid 4px;
}

.qr-code{
  height: 45px;
}

#cooking-process-video{
  position: absolute;
  bottom: 30px;
  left: 30px;
  box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.182);
  border-radius: 16px;
  background-color: rgb(246, 246, 246);
  height: 160px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white solid 4px;
  overflow: hidden;

  
}

.video-thumbnail{
  height: 110%;
  object-fit: cover;
}

.play{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.236);
  z-index: 20;
  color: white;
  font-size: 24px;
  height: 110%;
  width: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play:hover{
  cursor: pointer;

}

#configuration-main-container{
  position: fixed;
  bottom: 0px;
  left: 50%;
  right: 50%;
  box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.086);
  border-radius: 20px;
  border: solid 1px rgb(217, 217, 217);
  background-color: rgb(246, 246, 246);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: white solid 4px; */
  overflow: hidden;
  padding: 12px 12px 12px 12px;
  z-index: 200;
  width: 300px;
  transform: translate(-50%, -50%);
}

.content-section-container{
  flex: 1;
  background-color: rgb(238, 242, 246);
  height: auto;
  overflow-y: scroll;
}

