.main-area{
  margin: 80px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row; */
  height: 92vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  

}


.image-section-container{
  flex: 1;
  background-image: linear-gradient(to bottom right, #ECE3E4, #E9E0DE);
  background-color: #e8e2d9;
  height: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: inherit; */
}

.food-thumbnail{
  height: 450px;
  border-radius: 400px;
}

#qr-code-area{
  position: absolute;
  top: 30px;
  left: 30px;
  box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.182);
  border-radius: 16px;
  background-color: rgb(246, 246, 246);
  height: 66px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white solid 4px;
}

.qr-code{
  height: 45px;
}

#cooking-process-video{
  position: absolute;
  bottom: 30px;
  left: 30px;
  box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.182);
  border-radius: 16px;
  background-color: rgb(246, 246, 246);
  height: 160px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white solid 4px;
  overflow: hidden;
  transition: all 0.45s ease;

  
}

.video-thumbnail{
  height: 120%;
  object-fit: cover;
}

#cooking-process-video:hover{
  height: 200px;
  width: 130px;
  border-radius: 20px;
}




.play{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.236);
  z-index: 20;
  color: white;
  font-size: 24px;
  height: 110%;
  width: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play:hover{
  cursor: pointer;
}

#configuration-main-container{
  position: fixed;
  bottom: 30px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.083);
  border-radius: 28px;
  border: solid 1px rgb(234, 234, 234);
  background-color: rgb(255, 255, 255);
  /* height: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px; 
  z-index: 200;
  width: 460px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-family: Roboto, arial;
  font-size: 14px;
}

#configuration-main-container i{
  font-size: 16px;
}

.stepper-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.stepper-count{
/* height: 40px;
width: 40px; */
border: none;
border-radius: 200px;
background-color: #292a2b00;
padding: 8px;
display: flex;
align-items: center;
justify-content: center;
}

.stepper-count:hover{
/* height: 40px;
width: 40px; */
border: none;
border-radius: 200px;
background-color: rgb(234, 234, 234);
padding: 8px;
display: flex;
align-items: center;
justify-content: center;
}

.stepper-count button{
  padding: 0;
  margin: 0;
  background-color: 
}

.configuration-action{
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.play-cta{
  padding: 0px 16px 0px 16px;
  background-color: #ffffff ;
  border-radius: 16px;
  color: #292a2b;
  height: 48px;
  border: solid 1px #e3e3e3;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.save-cta{
  padding: 0px 16px 0px 16px;
  background-color: #ffffff ;
  border-radius: 16px;
  color: #292a2b;
  height: 48px;
  border: solid 1px #e3e3e3;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.cook-cta{
  background-image: linear-gradient(285deg, rgb(223, 135, 93) -0.22%, rgb(205, 91, 43) 100%);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 0px 24px;
  

}


  .content-section-container{
  flex: 1;
  background-color: rgb(255, 255, 255);
  height: auto;
  overflow-y: scroll;
}

