.main-area{
  margin: 80px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row; */
  height: 92vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  

}


.image-section-container{
  flex: 1;
  background-image: linear-gradient(to bottom right, #ECE3E4, #E9E0DE);
  background-color: #e8e2d9;
  height: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: inherit; */
}

.food-thumbnail{
  height: 450px;
  border-radius: 400px;
}

#qr-code-area{
  position: absolute;
  top: 30px;
  left: 30px;
  box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.182);
  border-radius: 16px;
  background-color: rgb(246, 246, 246);
  height: 66px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white solid 4px;
}

.qr-code{
  height: 45px;
}

#cooking-process-video{
  position: absolute;
  bottom: 30px;
  left: 30px;
  box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.182);
  border-radius: 16px;
  background-color: rgb(246, 246, 246);
  height: 160px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white solid 4px;
  overflow: hidden;
  transition: all 0.45s ease;

  
}

.video-thumbnail{
  height: 120%;
  object-fit: cover;
}

#cooking-process-video:hover{
  height: 200px;
  width: 130px;
  border-radius: 20px;
}




.play{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.236);
  z-index: 20;
  color: white;
  font-size: 24px;
  height: 110%;
  width: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play:hover{
  cursor: pointer;
}

#configuration-main-container{
  position: fixed;
  bottom: 0px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.083);
  border-radius: 22px;
  border: solid 1px rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
  /* height: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px; 
  z-index: 200;
  width: 460px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-family: Roboto, arial;
  font-size: 14px;
}

#configuration-main-container i{
  font-size: 16px;
}

.stepper-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.stepper-count{
/* height: 40px;
width: 40px; */
border: none;
border-radius: 200px;
background-color: #292a2b00;
padding: 8px;
display: flex;
align-items: center;
justify-content: center;
}

.stepper-count:hover{
/* height: 40px;
width: 40px; */
border: none;
border-radius: 200px;
background-color: rgb(234, 234, 234);
padding: 8px;
display: flex;
align-items: center;
justify-content: center;
}

.stepper-count button{
  padding: 0;
  margin: 0;
  /* background-color:  */
}

.configuration-action{
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.play-cta{
  padding: 0px 16px 0px 16px;
  background-color: #ffffff ;
  border-radius: 14px;
  color: #292a2b;
  height: 48px;
  border: solid 1px #e3e3e3;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.save-cta{
  padding: 0px 16px 0px 16px;
  background-color: #ffffff ;
  border-radius: 14px;
  color: #292a2b;
  height: 48px;
  border: solid 1px #e3e3e3;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.cook-cta{
  background-image: linear-gradient(285deg, rgb(223, 135, 93) -0.22%, rgb(205, 91, 43) 100%);
  border: none;
  border-radius: 14px;
  color: white;
  padding: 0px 24px;
  

}


.content-section-container{
  flex: 1;
  background-color: rgb(255, 255, 255);
  height: auto;
  overflow-y: scroll;
  padding: 44px;
}

.breadcrump{
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 60px;
  color: #4b5563;
}

.breadcrump i{
  color:#c3c3c3;
}

.recipe-header{
  font-weight: 300;
  font-size: 48px;

}

.author-info-container{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 28px;
  margin-top: 12px;
}

.author-info-container p{
color: gray;
font-size: 14px;
}

.author-info-container a{
text-decoration: underline;
}


.social-icon{
  height: 20px;
  width: 20px;
}

.recipe-intro{
  color: #00000080;
  margin-bottom: 58px;
}

/* -------- classes using google fonts ---------*/
.recipe-header, .sub-header, .grid-item-data, .insight-content, .sign-in-cta,
.step-number, .step-instruction {
 font-family: "EB Garamond", serif;
}
/* -------- classes using google fonts ---------*/

.sub-header{
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

#sub-header-icon{
  height: 20px;

}

.detail-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 24px;

}

.detail-grid div{
  border: 1px solid rgb(231, 231, 231);
  height: 70px;
  margin-left: -1px;
  margin-bottom: -1px;
  padding: 22px 16px 22px 24px;
  text-overflow: ellipsis;
  overflow:hidden; 
  white-space:nowrap; 

}

.detail-grid-item{
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
 

}

.grid-item-title{
  font-size: 12px;
  color: #0009;
}
 
.grid-item-data{
  font-size: 16px;
  color: black;
 
}

.grid-item-sub-data{
  color: #0009;
  font-size: 14px;
}

.details-discalaimer{
  color: #0006;
  margin-top: 4px;
  font-size: 12px;
  margin-bottom: 62px;
}
 
.insight-banner{
  display: flex;
  flex-direction: row;
  line-height: 24px;
  background-color: rgb(246 246 246);
  padding: 28px;
  border-radius: 20px;
  gap: 20px;
  align-items: center;
  margin-bottom: 62px;
}

.insight-image{
  height: 90px;
  background-color: white;
  border-radius: 12px;
}

.insight-content{
  font-size: 16px;
  color: #1d1d1d;
}

.sign-in-cta{
  font-size: 16px;
  text-decoration: underline;
  color: #1d1d1d;

}

.sign-in-cta:hover{
  color: rgb(223, 135, 93);
  cursor: pointer;

}

.ingredients-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;

  margin-bottom: 82px;
}

/* .ingredients-container p{
  margin: 0px;
  padding: 0px;
} */

.ingredient-item{
  display: flex;
  /* width: 92.7px; */
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
  margin-right: 8px;
}



.ingredient-image{
  height: 100px; 
  max-width: 108px;
  border-radius: 20px;
  object-fit: cover;
}


.ingredient-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
  
}


.ingredient-name{
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0px;
  line-height: 16px;
  
}

.ingredient-description{
  color: #00000080;
  font-size: 12px;
  line-height: 0px;
}

.cooking-steps-container{
  display: flex;
  flex-direction: column;
}

.horizontal-divider{
  display: block;
  width: 100%;
  border-bottom: 1px solid rgb(232, 232, 232);
  /* margin-top: 32px; */
  margin-bottom: 32px;
}

.step-container{
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin-bottom: 32px;
}

.step-number{
  font-size: 80px;
  color: #0000004d;
  line-height: 60px;
}

.step-content{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.step-instruction{
  font-size: 24px;
  line-height: 32px;
}

.step-ingredients-container{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.step-ingredient{
  display: flex;
  flex-direction: column;
  background-color: rgb(246 246 246);
  padding: 14px 16px;
  border-radius: 20px;
  gap: 0;
}

.step-ingredient-title{
  font-size: 14px;
  line-height: 20px;
}

.step-ingredient-quantity{
  color: #00000080;
  line-height: 20px;
}