.nav-main-container{
  display: flex;
  flex-direction: row;
  height: 64px;
  border-bottom: solid 1px rgb(230, 230, 230);
  background-color: white;
  justify-content: space-between;
  padding: 0px 28px;
}

.brand-mark-space{
  display: flex;
  align-items: center;
}

.logo{
height: 40px;
}

.link-space{
  display: flex;
  flex-direction: row;
}

.link-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
}

.nav-link-active{
  display: flex;
  border-bottom: 6px solid #292a2b;
  /* border-bottom-left-radius: 3px;
   border-bottom-right-radius: 2px; */
  /* background-color: gray; */
  align-items: center;
  height: 100%;
}

.button-group{
  display: flex;
  flex-direction: row;
}

